/* Section Features */

.features__list {
  @media screen and (min-width: $tabl) and (max-width: $pre-desc) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @media screen and (min-width: $desc) {
    display: flex;
  }
}

.features__item {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $tabl) {
    max-width: 354px;
  }

  @media screen and (min-width: $desc) {
    margin-right: 30px;
    max-width: 270px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.features__page-container {
  @include flex-center;
  margin-bottom: 30px;
  border-radius: 4px;
  background: #f5f4fa;
  height: 120px;
}

.features__title {
  color: var(--title-text-color);
  @include fonts(14px, 700, 1.14);
  color: var(--title-text-color);
  margin-bottom: 10px;

  @media screen and (max-width: $pre-tabl) {
    text-align: center;
  }
}

.features__subtitle {
  font-size: 14px;
  line-height: 1.7;
}
