/* Header */
.page-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

/* .main-nav */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: $pre-tabl) {
    @include flex-center;
  }
}

/* Site-nav */
.site-nav__list {
  display: flex;
  margin-left: 93px;
}

.site-nav__item {
  margin-left: 40px;
  &:first-child {
    margin-left: 0px;
  }
}

.site-nav__link {
  display: inline-block;
  position: relative;
  padding: 32px 0px;
  color: var(--title-text-color);
  @include fonts(14px, 500, 1.14);
  font-family: Roboto;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--transition-hover-focus),
    background-color var(--transition-hover-focus);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &--current {
    display: inline-block;
    position: relative;
    color: var(--accent-color);
    transition: color var(--transition-hover-focus),
      background-color var(--transition-hover-focus);
  }

  &--current::after,
  &::after {
    display: block;
    position: absolute;
    left: 0px;
    bottom: -1px;
    right: 0px;
    content: "";
    width: 100%;
    height: 4px;
    background-color: transparent;
    border-radius: 2px;
    transition: background-color var(--transition-hover-focus);
    @media screen and (min-width: $tabl) and (max-width: $desc) {
      bottom: -6px;
    }
  }

  &:hover::after,
  &:focus::after,
  &--current::after {
    background-color: var(--accent-color);
  }
}

/* Auth-nav */
.auth-nav__list {
  display: block;
  margin-left: auto;
  padding: 21px 0;

  @media screen and (min-width: $desc) {
    @include flex-center;
    padding: 0;
  }
}

.auth-nav__item {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $desc) {
    margin-left: 50px;
    &:first-child {
      margin-left: 0;
      margin-bottom: 0;
    }
  }
}

.auth-nav__link {
  color: var(--primary-text-color);
  @include fonts(14px, 500, 1.14);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--transition-hover-focus);

  @media screen and (min-width: $desc) {
    @include flex-center;
    padding: 32px 0px;
  }
}

.auth-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

.auth-nav__link {
  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.site-nav__list,
.auth-nav__list {
  @media screen and (max-width: $pre-tabl) {
    display: none;
  }
}

// Mobile-menu

.burger {
  background-color: #fff;
  border: none;
  @media screen and (min-width: $tabl) {
    display: none;
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: #ffffff;

  padding: 40px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 100;
  transform: translateX(100%);
  transition: transform var(--transition-hover-focus);

  &.is-open {
    transform: translateX(0);
  }
}

.btn-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  margin-top: 21px;
  margin-right: 25px;
  margin-bottom: 8.3px;
  height: 18.7px;
  width: 18.7px;
  margin-left: auto;
  cursor: pointer;
  background: #ffffff;
  border: none;
}

.btn-close__icon {
  fill: currentColor;
  transition: fill var(--transition-hover-focus);
  .btn-close:hover &,
  .btn-close:focus & {
    fill: var(--accent-color);
  }
}

.mob-menu__list {
  @include fonts(40px, 500, 1.17);
  letter-spacing: 0.02em;
  color: $title-text-color;
}

.mob-menu__item {
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 0;
    transition: color var(--transition-hover-focus);
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
  &--current {
    color: var(--accent-color);
  }
}

.mob-contacts__list {
  margin-bottom: 64px;
}

.mob-contacts__item {
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 0;
    transition: color var(--transition-hover-focus);
  }
  @include fonts(24px, 500, 1.17);
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $accent-color;
  }
  &--current {
    @include fonts(34px, 500, 1.17);
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}

.mob-social__list {
  display: flex;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;

  .mob-social__link {
    color: var(--accent-color);
    transition: color var(--transition-hover-focus);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    @include fonts(18px, 500, 1.22);
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    padding-right: 10px;
  }
}
